{% extends "base.html" %}

{% block title %}Чат{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="chat-header d-flex justify-content-between align-items-center">
        <h5>
            Чат с Пользователем 
            {% if creator.id == request.state._state.user.id %}
            {{ companion.username }}
            {% else %}
            {{ creator.username }}
            {% endif %}
        </h5>
    </div>

    <div class="chat-box border rounded p-3" style="height: 400px; overflow-y: auto;" id="chat-box">
    </div>

    <div id="loading-indicator" style="display: none;" class="alert alert-info mt-2">
        Загрузка файла, пожалуйста подождите...
    </div>

    <div class="input-group mt-3">
        <input type="text" id="message-input" class="form-control" placeholder="Введите ваше сообщение..."
            aria-label="Введите ваше сообщение..." oninput="toggleInputs()">
        <input type="file" id="file-input" accept="*" class="form-control-file" 
            aria-label="Выберите файл..." onchange="toggleInputs()">
        <button id="send-button" class="btn btn-primary" onclick="sendMessage()" disabled>Отправить</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    const fileImageType = "image";
    const fileFileType = "file";
    const loadingIndicator = document.getElementById('loading-indicator');
    const sendButton = document.getElementById('send-button');

    function updateSendButtonState(text, fileCount) {
        // Активируем кнопку, если есть текст или выбран файл
        sendButton.disabled = !(text || fileCount);
    }

    function toggleInputs() {
        const input = document.getElementById('message-input');
        const fileInput = document.getElementById('file-input');

        // Если есть текст в поле ввода, отключаем выбор файла
        if (input.value.trim() !== "") {
            fileInput.disabled = true;
        } else {
            fileInput.disabled = false;
        }

        // Если выбран файл, отключаем текстовое поле
        if (fileInput.files.length > 0) {
            input.disabled = true;
            
            if(fileInput.files[0].size > 2097152) {
                alert("Максимальный размер файла 2 мб.");
                fileInput.value = ""; 
                input.disabled = false;
            }
        } else {
            input.disabled = false;
        }

        updateSendButtonState(input.value.trim(), fileInput.files.length);
    }

    function updateInputStates() {
        const input = document.getElementById('message-input');
        const fileInput = document.getElementById('file-input');

        // Разблокируем оба поля ввода после отправки сообщения
        input.disabled = false;
        fileInput.disabled = false;

        input.value = ""; 
        fileInput.value = ""; 
        
        // Убедимся, что состояние переключается правильно
        toggleInputs();
    }

    
    function addMessage(message) {
        const messageElem = document.createElement("div");

        if (message.sender_id == "{{ user.id }}") {
            messageElem.className = "message receiver-message mb-2 d-flex align-items-start justify-content-end";
            
            if (message.text) {
                const messageText = document.createElement("div");
                messageText.className = "message-content bg-primary text-white p-2 rounded";
                messageText.textContent = message.text;
                messageElem.appendChild(messageText);
            }
            else if (message.file) {
                if (message.file.type === fileImageType) {
                    const fileImage = document.createElement("img");
                    fileImage.src = message.file.url;
                    fileImage.className = "file-image mt-1 d-block"; // Добавляем класс для стилизации
                    messageElem.appendChild(fileImage);
                }
                else {
                    const fileLink = document.createElement("a");
                    fileLink.href = message.file.url;
                    fileLink.textContent = message.file.name
                    fileLink.className = "file-link mt-1 d-block"; // Добавляем класс для стилизации
                    messageElem.appendChild(fileLink);
                }
            }
            
            const username = document.createElement("div");
            username.className = "nickname ms-2";
            username.textContent = "Вы";
            messageElem.appendChild(username);
        } else {
            messageElem.className = "message sender-message mb-2 d-flex align-items-start";

            const username = document.createElement("div");
            username.className = "nickname me-2";
            
            if  (message.sender_id == "{{ companion.id }}") {
                username.textContent = "{{ companion.username }}";
            } else {
                username.textContent = "{{ creator.username }}";
            }
            
            messageElem.appendChild(username);

            if (message.text) {
                const messageText = document.createElement("div");
                messageText.className = "message-content p-2 rounded";
                messageText.textContent = message.text;
                messageElem.appendChild(messageText);   
            }
             else if (message.file) {
                if (message.file.type === fileImageType) {
                    const fileImage = document.createElement("img");
                    fileImage.src = message.file.url;
                    fileImage.className = "file-image mt-1 d-block"; // Добавляем класс для стилизации
                    messageElem.appendChild(fileImage);
                }
                else {
                    const fileLink = document.createElement("a");
                    fileLink.href = message.file.url;
                    fileLink.textContent = message.file.name
                    fileLink.className = "file-link mt-1 d-block"; // Добавляем класс для стилизации
                    messageElem.appendChild(fileLink);
                }
            }
        }
        
        loadingIndicator.style.display = 'none';
        
        chatBox.appendChild(messageElem);
        chatBox.scrollTop = chatBox.scrollHeight;
    }
    const protocol = window.location.protocol === "https:" ? "wss" : "ws";
    const socket = new WebSocket(protocol+"://"+window.location.host+"/chats/{{ chat.uid }}");
    const chatBox = document.getElementById("chat-box");

    socket.onopen = function () {
        console.log("Соединение установлено.");
        fetchMessages()
    };

    socket.onmessage = function (event) {
        const chatBox = document.getElementById("chat-box");
        const messageElem = document.createElement("div");
        const messageData = JSON.parse(event.data);
        addMessage(messageData)
    };

    function sendMessage() {
        const input = document.getElementById('message-input');
        const fileInput = document.getElementById('file-input');

        const message = {
            "text": input.value, 
            "file": null,
            "chat_uid": "{{ chat.uid }}" 
        };

        if (fileInput.files.length === 1) {
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function(event) {
                if (event.target.result) {
                    let binary = '';
                    const arrayBuffer = event.target.result;
                    const byteArray = new Uint8Array(arrayBuffer);

                    let len = byteArray.byteLength;
                    for (var i = 0; i < len; i++) {
                        binary += String.fromCharCode(byteArray[i]);
                    }

                    message.file = {
                        "filename": file.name,
                        "content": btoa(binary)
                    };
                    
                    loadingIndicator.style.display = 'block';
                    socket.send(JSON.stringify(message));
                }
            }

            reader.readAsArrayBuffer(file);
        }
        else if (message.text){
            socket.send(JSON.stringify(message)); // Отправка сообщения на сервер
        }

        updateInputStates();
    }

    function fetchMessages() {
        fetch("/chats/{{ chat.id }}/messages").then(resp => resp.json()).then(messages => {
            messages.forEach(message => {
                addMessage(message)   
            })
        })
    }

</script>
{% endblock %}