{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}

<h1>{{chat.uid}}</h1>

<div id="messages"></div>

<form action="" onsubmit="sendMessage(event)">
    <input type="text" id="messageText" autocomplete="off"/>
    <button>Send</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    var ws = new WebSocket("ws://localhost:8000/ws/chats");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('p')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
</script>

{% endblock %}