{% extends 'base.html' %}


{% block title %}Chats{% endblock %}

{% block content %}
<button class="btn btn-primary add-chat-btn">Создать чат</button>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for chat in chats %}
            <div class="card bg-primary text-white mb-3 chat-block">
                <div class="card-body">
                    <h2 class="chat-title">{{ chat.title }}</h2>
                    <a href="{{ url_for('get_chat_by_id', chat_id=chat.id) }}" class="btn btn-light">Перейти</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'></ul>
{% endblock %}

{% block scripts %}
<script>
    var client_id = Date.now()
    document.querySelector("#ws-id").textContent = client_id;
    var ws = new WebSocket(`ws://localhost:8000/ws/chats/${client_id}`);
    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data)
        message.appendChild(content)
        messages.appendChild(message)
    };
    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script> -->
{% endblock %}