<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css' ) }}?123">
    <title>Register</title>
</head>
<body>
    <h1>Страница регистрации</h1>
    <div>
        <form action="register" method="post">
            <label for="username">Имя пользователя</label>
            <input id="username" name="username" type="text">
            {% if errors %}
            {{ errors.username }}
            {% endif %}

            <label for="password1">Пароль</label>
            <input type="password" name="password1" id="password1">
            {% if errors %}
            {{ errors.password }}
            {% endif %}

            <label for="password2">Повторите пароль</label>
            <input type="password" name="password2" id="password1">
            
            <button>Регистрации</button>
        </form>
    </div>
</body>
</html>