html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* input {
    display: inline;
}

label {
    display: block;
}

button {
    display: block;
} */

.nav-item {
    z-index: 10000;
}

.register {
    background-color: #f0f0f1;
    margin-top: 40px;
    box-shadow:  1px 1px 10px -3px hsl(0, 0%, 22%);
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.register h3 {
    margin-top: 90px;
}

.register form {
    margin-top: 40px;
    margin-bottom: 150px;
}


.field {
    margin-bottom: 15px;
}

.add-chat-btn {
    position: fixed;
    top: 50px; /* Учитываем высоту хедера */
    left: 0;
    width: 100%;
    z-index: 1000; /* Установка z-index, чтобы кнопка была поверх всего */
  }

.chat-block {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .chat-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .chat-block button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .chat-block button:hover {
    background-color: #004080;
  }

.sidebar-item {
    background-color: white;
    text-align: center;
    align-items: center;
    border: #004080 solid 2px;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 5px;
}

.not-found {
    display: grid;
    place-items: center;
    height: 100vh;
}

.chat-box {
    background-color: #f8f9fa;
}

.message {
    display: flex;
    align-items: flex-start;
}

.sender-message .message-content {
    background-color: #e0e0e0;
}

.receiver-message .message-content {
    background-color: #007bff;
    color: white;
}

.nickname {
    font-weight: bold;
    color: #333;
}

@media (max-width: 970px) {
    .register {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }
    .register h3 {
        margin-top: 30px;
    }
    h3 {
        font-size: 1.5rem;
        /* Уменьшение размера заголовка */
    }

    form {
        margin-bottom: 30px;
        /* Уменьшение нижнего отступа формы */
    }
    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1);
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .field {
        padding: 0 10px;
        width: 50%;
    }
}